.results-list {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  min-height: 300px;
  overflow-y: scroll;
}